<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <remove name="X-Powered-By" />
                <add name="X-Content-Type-Options" value="nosniff" />
            </customHeaders>
        </httpProtocol>
        <staticContent>
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="00:10:00" setEtag="false" />
        </staticContent>
        <defaultDocument>
            <files>
                <clear />
                <add value="Default.asp" />
                <add value="index.html" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
        <security>
            <requestFiltering removeServerHeader="true" />
        </security>
        <cors enabled="true" failUnlistedOrigins="true">
            <add origin="https://shawxu.net" allowCredentials="true" maxAge="3600" />
            <add origin="https://www.shawxu.net" allowCredentials="true" maxAge="3600" />
        </cors>
        <tracing>
            <traceFailedRequests>
                <remove path="*.asp" />
                <add path="*">
                    <traceAreas>
                        <add provider="ASP" verbosity="Verbose" />
                        <add provider="ASPNET" areas="Infrastructure,Module,Page,AppServices" verbosity="Verbose" />
                        <add provider="ISAPI Extension" verbosity="Verbose" />
                        <add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,RequestNotifications,Module,FastCGI,WebSocket,Cors,Rewrite" verbosity="Verbose" />
                    </traceAreas>
                    <failureDefinitions timeTaken="00:00:04" statusCodes="400-999" verbosity="Error" />
                </add>
            </traceFailedRequests>
        </tracing>
    </system.webServer>
    <location path="blog">
    </location>
    <system.web>
        <httpCookies domain="" httpOnlyCookies="false" requireSSL="false" sameSite="Unspecified" />
    </system.web>
</configuration>
